<div class="container">
  {{#each images as |image|}}
    <!-- in case we need the `image.id` to reference/find -->
    <!-- <section data-id="{{image.id}}"> -->
    <!-- <div class="d-flex bd-highlight"> -->
    <form class='update-image-form'>
      Update image details<br>
      <input type="hidden" name="image[id]" value="{{image.id}}">
      <input type="text" name="image[tag]" value="{{image.tag}}">
      <input type="text" name="image[description]" value="{{image.description}}">
      <button type="submit" class="btn btn-secondary btn-sm">Update this Photo</button>
    </form>
<!-- </div> -->
<!-- </section> -->
{{/each}}
</div>
